{{!-- Nouvelle fiche de personnage V2 - Template de base --}}
{{!-- Vous pouvez copier le contenu de actor-character-sheet.hbs et le modifier selon vos besoins --}}
<form class="{{cssClass}} sra2-character-sheet-v2" autocomplete="off">
    <header class="sheet-header {{#if hasSevereDamage}}has-severe-damage{{/if}}">
        <div class="avatar-section">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <button type="button" class="sheet-switch-btn" data-action="switch-sheet" title="{{localize 'SRA2.SHEET.SWITCH_TO_V1'}}">
                <i class="fas fa-gear"></i>
            </button>
        </div>
        <div class="name">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'SRA2.ACTOR.CHARACTER_NAME'}}" /></h1>
        </div>
        <div class="damage-anarchy-tracker">
            <div class="damage-track">
                <div class="damage-group light">
                    <span class="track-label">{{localize "SRA2.DAMAGE.LIGHT"}}</span>
                    <div class="track-boxes">
                        {{#each system.damage.light}}
                        <label class="track-box {{#if this}}checked{{/if}}">
                            <input type="checkbox" name="system.damage.light.{{@index}}" {{#if this}}checked{{/if}} />
                            <span class="box-circle"></span>
                        </label>
                        {{/each}}
                    </div>
                </div>
                <div class="damage-group severe">
                    <span class="track-label">{{localize "SRA2.DAMAGE.SEVERE"}}</span>
                    <div class="track-boxes">
                        {{#each system.damage.severe}}
                        <label class="track-box {{#if this}}checked{{/if}}">
                            <input type="checkbox" name="system.damage.severe.{{@index}}" {{#if this}}checked{{/if}} />
                            <span class="box-circle"></span>
                        </label>
                        {{/each}}
                    </div>
                </div>
                <div class="damage-group incapacitating">
                    <span class="track-label">{{localize "SRA2.DAMAGE.INCAPACITATING"}}</span>
                    <div class="track-boxes">
                        <label class="track-box {{#if system.damage.incapacitating}}checked{{/if}}">
                            <input type="checkbox" name="system.damage.incapacitating" {{#if
                                system.damage.incapacitating}}checked{{/if}} />
                            <span class="box-circle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="anarchy-track">
                <span class="track-label">{{localize "SRA2.RESOURCES.ANARCHY"}}</span>
                <div class="track-boxes">
                    {{#each system.anarchySpent}}
                    <label class="track-box {{#if this}}checked{{/if}}">
                        <input type="checkbox" name="system.anarchySpent.{{@index}}" {{#if this}}checked{{/if}} />
                        <span class="box-circle"></span>
                    </label>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>
    <div>

        <div class="bookmarks-list-compact">
            <div class="bookmarks-header">
                <i class="fas fa-star"></i> {{localize "SRA2.BOOKMARKS.TITLE"}}
            </div>
            {{#if bookmarkedItems.length}}
            <div class="bookmarks-items">
                {{#each bookmarkedItems}}
                <div class="bookmark-item" data-item-id="{{this._id}}" data-item-type="{{this.type}}"
                    title="{{localize 'SRA2.BOOKMARKS.CLICK_TO_ROLL'}}">
                    <i class="fas fa-dice-d6"></i>
                    <span class="bookmark-name">{{this.name}}</span>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div class="bookmarks-empty">
                <i>Aucune action rapide</i>
            </div>
            {{/if}}
        </div>
        <section class="sheet-body {{#if hasSevereDamage}}has-severe-damage{{/if}}">
            <div>
                {{#if featsByType.weapon}}
                <section class="char-section">
                    <header>
                        <div>ARMES</div>
                        <div class="fa fa-dice-d6"></div>
                        <div>RR</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.weapon}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="roll-weapon" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{#if this.specializations}}
                            {{#each this.specializations}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe" data-action="edit-skill" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.EDIT'}}">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="quick-roll-specialization"
                                    data-item-id="{{this._id}}" data-effective-rating="{{this.effectiveRating}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </section>

                    </div>
                </section>
                {{/if}}
                {{#if featsByType.spell}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.SPELL"}}</div>
                        <div class="fa fa-dice-d6"></div>
                        <div>RR</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.spell}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="roll-spell" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{#if this.specializations}}
                            {{#each this.specializations}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe" data-action="edit-skill" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.EDIT'}}">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="quick-roll-specialization"
                                    data-item-id="{{this._id}}" data-effective-rating="{{this.effectiveRating}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </section>

                    </div>
                </section>
                {{/if}}
                {{#if featsByType.awakened}}
                <section class="char-section">
                    <header>
                        <div>EVEIL</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.awakened}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{#if this.system.astralPerception}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{localize 'SRA2.FEATS.AWAKENED.ASTRAL_PERCEPTION'}}</div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.system.astralProjection}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{localize 'SRA2.FEATS.AWAKENED.ASTRAL_PROJECTION'}}</div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.system.sorcery}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{localize 'SRA2.FEATS.AWAKENED.SORCERY'}}</div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.system.conjuration}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{localize 'SRA2.FEATS.AWAKENED.CONJURATION'}}</div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if this.system.adept}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{localize 'SRA2.FEATS.AWAKENED.ADEPT'}}</div>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.adeptPower}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.ADEPT_POWER"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.adeptPower}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.vehicle}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.VEHICLE"}}</div>
                        <div class="fa fa-dice-d6"></div>
                        <div class="ap">
                            <div>AP</div>
                            <div class="fa fa-dice-d6 ap"></div>
                        </div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.vehicle}}
                            {{#if (eq this.type "vehicle-actor")}}
                            <div class="row feat-item {{#if this.hasSevereDamage}}has-severe-damage{{/if}} {{#if this.isIncapacitating}}is-incapacitating{{/if}}" data-vehicle-uuid="{{this.uuid}}">
                                <div class="name-wrapper">
                                    <div class="name" data-action="open-vehicle" data-vehicle-uuid="{{this.uuid}}"
                                        title="{{localize 'SRA2.FEATS.VEHICLE.OPEN_SHEET'}}"><span class="name">{{this.name}}</span></div>
                                </div>
                                <div class="dice clickable autopilot" data-action="roll-vehicle-autopilot" data-vehicle-uuid="{{this.uuid}}"
                                    title="{{localize 'SRA2.VEHICLE.ROLL_AUTOPILOT'}}">
                                    {{this.system.autopilot}} <div class="fa fa-dice-d6"></div>
                                </div>
                            </div>
                            {{#if this.weapons}}
                            {{#each this.weapons}}
                            <div class="row skill-item" data-vehicle-uuid="{{../uuid}}" data-weapon-id="{{this.weaponId}}">
                                <div class="name-wrapper spe">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" style="margin-right: 8px;" data-action="roll-vehicle-weapon"
                                    data-vehicle-uuid="{{../uuid}}" data-weapon-id="{{this.weaponId}}"
                                    title="{{localize 'SRA2.VEHICLE.ROLL_WEAPON_WITH_CHARACTER_SKILLS'}}">
                                    {{#if this.totalDicePool}}{{this.totalDicePool}}{{else}}-{{/if}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="dice clickable autopilot" data-action="roll-vehicle-weapon-autopilot"
                                    data-vehicle-uuid="{{../uuid}}" data-weapon-id="{{this.weaponId}}"
                                    title="{{localize 'SRA2.VEHICLE.ROLL_WEAPON_WITH_AUTOPILOT'}}">
                                    {{../system.autopilot}} <div class="fa fa-dice-d6"></div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{else}}
                            <div class="row feat-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                                <div class="level" style="margin-right: 8px;">
                                    {{this.system.rating}}
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.trait}}
                <section class="char-section">
                    <header>
                        <div>TRAITS</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.trait}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.cyberware}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.CYBERWARE"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.cyberware}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.equipment}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.EQUIPMENT"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.equipment}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.contact}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.CONTACT"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.contact}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
                {{#if featsByType.cyberdeck}}
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.FEATS.FEAT_TYPE.CYBERDECK"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each featsByType.cyberdeck}}
                            <div class="row feat-item {{#unless this.system.active}}feat-inactive{{/unless}}" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name {{#unless this.system.active}}feat-name-inactive{{/unless}}" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </section>
                {{/if}}
            </div>
            <div>
                <section class="char-section">
                    <header>
                        <div>COMPÉTENCES</div>
                        <div class="fa fa-dice-d6"></div>
                        <div>RR</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            {{#each skills}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper">
                                    <div class="name" data-action="edit-skill" data-item-id="{{this._id}}"
                                        title="{{localize 'SRA2.SKILLS.EDIT'}}">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="quick-roll-skill" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{#if this.specializations}}
                            {{#each this.specializations}}
                            <div class="row skill-item" data-item-id="{{this._id}}">
                                <div class="name-wrapper spe" data-action="edit-skill" data-item-id="{{this._id}}"
                                    title="{{localize 'SRA2.SKILLS.EDIT'}}">
                                    <div class="arrow fa fa-turn-up"></div>
                                    <div class="name">{{this.name}}</div>
                                </div>
                                <div class="dice clickable" data-action="quick-roll-specialization"
                                    data-item-id="{{this._id}}" data-effective-rating="{{this.effectiveRating}}"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.totalDicePool}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{this.rr}}
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </section>
                    </div>
                </section>
                <section class="char-section">
                    <header>
                        <div>ATTRIBUTS</div>
                        <div class="fa fa-dice-d6"></div>
                        <div>RR</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            <div class="row feat-item">
                                <div class="name-wrapper">
                                    <div class="name">Force</div>
                                </div>
                                <div class="dice clickable" data-action="roll-attribute" data-attribute="strength"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.system.attributes.strength}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{attributesRR.strength}}
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row feat-item">
                                <div class="name-wrapper">
                                    <div class="name">Agilité</div>
                                </div>
                                <div class="dice clickable" data-action="roll-attribute" data-attribute="agility"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.system.attributes.agility}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{attributesRR.agility}}
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row feat-item">
                                <div class="name-wrapper">
                                    <div class="name">Volonté</div>
                                </div>
                                <div class="dice clickable" data-action="roll-attribute" data-attribute="willpower"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.system.attributes.willpower}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{attributesRR.willpower}}
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row feat-item">
                                <div class="name-wrapper">
                                    <div class="name">Logique</div>
                                </div>
                                <div class="dice clickable" data-action="roll-attribute" data-attribute="logic"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.system.attributes.logic}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{attributesRR.logic}}
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row feat-item">
                                <div class="name-wrapper">
                                    <div class="name">Charisme</div>
                                </div>
                                <div class="dice clickable" data-action="roll-attribute" data-attribute="charisma"
                                    title="{{localize 'SRA2.SKILLS.ROLL'}}">
                                    {{this.system.attributes.charisma}} <div class="fa fa-dice-d6"></div>
                                </div>
                                <div class="rr">
                                    {{attributesRR.charisma}}
                                </div>
                            </div>
                        </section>
                </section>
            </div>
            <div>
                <section class="char-section avatar-large-section">
                    <img class="profile-img-large" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </section>
                <section class="char-section thresholds-section">
                    <div class="char-section-row">
                        <section>
                            <table class="thresholds-table">
                                <thead>
                                    <tr>
                                        <th class="threshold-title">SEUIL</th>
                                        <th>{{localize "SRA2.ARMOR_THRESHOLDS.LIGHT"}}</th>
                                        <th>{{localize "SRA2.ARMOR_THRESHOLDS.SEVERE"}}</th>
                                        <th>{{localize "SRA2.ARMOR_THRESHOLDS.INCAPACITATING_SHORT"}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="threshold-label">{{localize "SRA2.ARMOR_THRESHOLDS.WITHOUT_ARMOR"}}
                                        </td>
                                        <td>{{system.damageThresholds.withoutArmor.light}}</td>
                                        <td>{{system.damageThresholds.withoutArmor.severe}}</td>
                                        <td>{{system.damageThresholds.withoutArmor.incapacitating}}</td>
                                    </tr>
                                    <tr>
                                        <td class="threshold-label">{{localize "SRA2.ARMOR_THRESHOLDS.WITH_ARMOR"}}</td>
                                        <td>{{system.damageThresholds.withArmor.light}}</td>
                                        <td>{{system.damageThresholds.withArmor.severe}}</td>
                                        <td>{{system.damageThresholds.withArmor.incapacitating}}</td>
                                    </tr>
                                    <tr>
                                        <td class="threshold-label">{{localize "SRA2.ARMOR_THRESHOLDS.MENTAL"}}</td>
                                        <td>{{system.damageThresholds.mental.light}}</td>
                                        <td>{{system.damageThresholds.mental.severe}}</td>
                                        <td>{{system.damageThresholds.mental.incapacitating}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
                <section class="char-section">
                    <header>
                        <div>{{localize "SRA2.CATCHPHRASES.LABEL"}}</div>
                    </header>
                    <div class="char-section-row">
                        <section>
                            <div class="catchphrases-fields">
                                <div class="catchphrase-field">
                                    <div class="catchphrase-input-wrapper">
                                        <input type="text" name="system.catchphrases.catchphrase1"
                                            value="{{system.catchphrases.catchphrase1}}"
                                            placeholder="{{localize 'SRA2.CATCHPHRASES.PLACEHOLDER'}}" />
                                        {{#if system.catchphrases.catchphrase1}}
                                        <a class="catchphrase-send" data-action="send-catchphrase"
                                            data-catchphrase="{{system.catchphrases.catchphrase1}}"
                                            title="{{localize 'SRA2.CATCHPHRASES.SEND_TO_CHAT'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="catchphrase-field">
                                    <div class="catchphrase-input-wrapper">
                                        <input type="text" name="system.catchphrases.catchphrase2"
                                            value="{{system.catchphrases.catchphrase2}}"
                                            placeholder="{{localize 'SRA2.CATCHPHRASES.PLACEHOLDER'}}" />
                                        {{#if system.catchphrases.catchphrase2}}
                                        <a class="catchphrase-send" data-action="send-catchphrase"
                                            data-catchphrase="{{system.catchphrases.catchphrase2}}"
                                            title="{{localize 'SRA2.CATCHPHRASES.SEND_TO_CHAT'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="catchphrase-field">
                                    <div class="catchphrase-input-wrapper">
                                        <input type="text" name="system.catchphrases.catchphrase3"
                                            value="{{system.catchphrases.catchphrase3}}"
                                            placeholder="{{localize 'SRA2.CATCHPHRASES.PLACEHOLDER'}}" />
                                        {{#if system.catchphrases.catchphrase3}}
                                        <a class="catchphrase-send" data-action="send-catchphrase"
                                            data-catchphrase="{{system.catchphrases.catchphrase3}}"
                                            title="{{localize 'SRA2.CATCHPHRASES.SEND_TO_CHAT'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="catchphrase-field">
                                    <div class="catchphrase-input-wrapper">
                                        <input type="text" name="system.catchphrases.catchphrase4"
                                            value="{{system.catchphrases.catchphrase4}}"
                                            placeholder="{{localize 'SRA2.CATCHPHRASES.PLACEHOLDER'}}" />
                                        {{#if system.catchphrases.catchphrase4}}
                                        <a class="catchphrase-send" data-action="send-catchphrase"
                                            data-catchphrase="{{system.catchphrases.catchphrase4}}"
                                            title="{{localize 'SRA2.CATCHPHRASES.SEND_TO_CHAT'}}">
                                            <i class="fas fa-comment"></i>
                                        </a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </section>
        <footer class="sheet-footer {{#if hasSevereDamage}}has-severe-damage{{/if}}">
            <div class="footer-content">
                <div class="footer-keywords">
                    <div class="keywords-list">
                        {{#if system.keywords.keyword1}}
                        <span class="keyword-tag">{{system.keywords.keyword1}} / </span>
                        {{/if}}
                        {{#if system.keywords.keyword2}}
                        <span class="keyword-tag">{{system.keywords.keyword2}} / </span>
                        {{/if}}
                        {{#if system.keywords.keyword3}}
                        <span class="keyword-tag">{{system.keywords.keyword3}} / </span>
                        {{/if}}
                        {{#if system.keywords.keyword4}}
                        <span class="keyword-tag">{{system.keywords.keyword4}} / </span>
                        {{/if}}
                        {{#if system.keywords.keyword5}}
                        <span class="keyword-tag">{{system.keywords.keyword5}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="footer-price">
                    <span class="price-value">{{system.totalCost}} <span class="yen-symbol">{{localize
                            "SRA2.RESOURCES.YENS"}}</span></span>
                </div>
            </div>
        </footer>
    </div>
</form>